{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <p><a href="/">Back</a> </p>
        <h1 class="mt-5 mb-4">{{ trailer.title }}</h1>
        <div><img src="{{ trailer.link }}{{ poster }}"></div>
        <h3>{{ trailer.description }}</h3>
        <a href="{{ trailer.link }}">Source</a>
    </div>
{% endblock %}